<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
    <h1>SIGNUP</h1>
    <form action="/" method="post">
        <label for="name">Name : </label>
        <input type="text" name="name" id="name" placeholder="Name..."><br>
        <label for="password">password : </label>
        <input type="number" name="password" id="password" placeholder="age..."><br>
        <label for="field">field : </label>
        <input type="text" name="field" id="field" placeholder="field..."><br>
        <label for="email">email : </label>
        <input type="email" name="email" id="email" placeholder="email..."><br>
        <button type="submit"> submit</button>
    </form>
    
</body>
</html>